/* /Pages/AppAdsPrivacyPolicy.razor.rz.scp.css */
.page-background-class[b-py2rtue7ec] {
    background-image: url(images/blue_screen.png)
}
/* /Pages/AppPrivacyPolicy.razor.rz.scp.css */
.page-background-class[b-bp81dlfau7] {
    background-image: url(images/blue_screen.png)
}
/* /Pages/Company.razor.rz.scp.css */
.page-background-class[b-1y8gxhfvcb] {
    background-image: url(images/blue_screen.png)
}
